@font-face {
  font-family: "iconfont"; /* Project id 2624743 */
  src: url('iconfont.woff2?t=1624327540877') format('woff2'),
       url('iconfont.woff?t=1624327540877') format('woff'),
       url('iconfont.ttf?t=1624327540877') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--:before {
  content: "\e628";
}

.icon-qizi:before {
  content: "\e6b8";
}

