@font-face {
  font-family: "iconfont"; /* Project id 2614732 */
  src: url('iconfont.woff2?t=1623834790420') format('woff2'),
       url('iconfont.woff?t=1623834790420') format('woff'),
       url('iconfont.ttf?t=1623834790420') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiao02:before {
  content: "\e602";
}

.icon-qianbi:before {
  content: "\e61b";
}

